.MAIN-WRAPPER {
    width: 100%;
    overflow: hidden;
}
._container {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
}
.FIXED-BG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.CONTENT {
    position: relative;
    z-index: 2;
}


$sizeCircleXL: 350px;
$sizeCircleL: 250px;
$sizeCircleM: 200px;
$sizeCircleS: 125px;


._circle-Xl {
    display: flex;
    position: absolute;
    width: $sizeCircleXL;
    height: $sizeCircleXL;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1368) 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
._circle-l {
    display: flex;
    position: absolute;
    width: $sizeCircleL;
    height: $sizeCircleL;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1368) 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
._circle-m {
    display: flex;
    position: absolute;
    width: $sizeCircleM;
    height: $sizeCircleM;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1368) 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
._circle-s {
    display: flex;
    position: absolute;
    width: $sizeCircleS;
    height: $sizeCircleS;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1368) 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.BUTTON {
    display: inline-block;
    min-width: 176px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    // background: #fff;
    span {
        pointer-events: none;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding: 0 10px;
    }
}
._section_title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.07em;
    color: #000000;
    margin-bottom: 20px;
}
._section_description {
    max-width: 350px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #666666;
}
// !



