@media (min-width: 767.8px){
    .header_nav_menu {
        z-index: 102;
    }
    .header_nav_menu_link a:hover::after {
        width: 100%;
        left: 0;
    }
   
}
@media (max-width:1439.8px){
    .home_container_textBlock_title {
        font-size: 40px;
    }
}
@media (min-width: 1439.8px){
    .home {
        min-height: 656px;
    }
}
@media (max-width: 1023.8px){
    .header_nav {
        min-height: 80px;
    }
    .header_nav_menu_link a {
        font-size: 20px;
    }
    .header_nav_logo {
        font-size: 24px;
    }.home_container_textBlock_title {
        font-size: 36px;
    }
    .home_container_textBlock_subTitle {
        font-size: 20px;
    }
    ._section_description {
        font-size: 18px;
    }

    ._section_title {
        font-size: 28px;
    }
}
@media (max-width: 767.8px){
    body.active_menu {
        overflow: hidden;
        .header_nav_menu {
            overflow: auto;
            transform: translateY(0);
        }
        .header_nav_burger::after {
            transform: rotate(45deg);
            top: 50%;
        }
        .header_nav_burger::before {
            transform: rotate(-45deg);
            top: 50%;
        }
        .header_nav_burger span {
            transform: scale(0);
        }
    }
    .header_nav {
        min-height: 70px;
        position: relative;
    }
    .header_nav_menu {
        top: 0;
        left: 0;
        flex-direction: column;
        position: fixed;
        background: #fff;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        padding: 80px 0;
        transform: translateY(100%);
        transition: .2s ease;
    }
    .header_nav_menu_link:not(:last-child) {
       margin: 0 0 20px 0;
    }
    .header_nav_menu_link:first-child {
        margin-top: 90px;
    }
    .header_nav_logo {
        position: relative;
        margin-inline: auto;
    }
    .header_nav_burger {
        position: absolute;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 20px;
        background: transparent;
        color: #000;
        border: 0;
        // position: relative;
        z-index: 102;
        &::after, &::before {
            content: "";
            display: flex;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transition: .2s ease;
        }
        &::after {
            top: 0;
            left: 0;
        }
        &::before  {
            bottom: 0;
            left: 0;
        }
        span {
            display: inline-block;
            position: absolute;
            background: currentColor;
            width: 100%;
            height: 2px;
            transition: .2s ease;
        }
    }
    .home_container {
        grid-template-columns: none;
        padding-top: 100px;
    }
    .home_container_imgBlock {
        justify-self: center;
    }
    .home_container_textBlock {
        margin-top: -30px;
    }
    .home_container_textBlock_subTitle {
        margin-bottom: 45px;
    }
    .home_container_textBlock_title {
        font-size: 34px;
    }
    ._section_description {
        font-size: 16px;
    }
    ._section_title {
        font-size: 24px;
    }
    .aboutMe__container {
        grid-template-columns: none;
    }
    .aboutMe__container_text {
        order: 2;
        text-align: center;
    }
    .aboutMe__container_imgBlock {
        order: 1;
    }
    .techStack_container_description {
        margin-bottom: 50px;
    }
    form {
        margin-bottom: 50px;
        input {
            &:not(:first-child) {
                    margin-top: 23px;
            }
            &:nth-child(2) {
                margin-top: 13px;
            }
        }
    }
    .contacts_title {
        margin-top: 25px;
    }
    .contacts_btn {
        margin: 25px 0;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
    }
    .footer_tel {
        margin-bottom: 30px;
    }
    .footer_icons {
        margin-bottom: 30px;
    }
}
@media (max-width: 424.8px) {
    .home_container_textBlock_title {
        font-size: 30px;
    }

    .BUTTON {
        height: 30px;
        line-height: 30px;
    }

    .home_circle {
        &:nth-child(2), &:nth-child(3) {
            display: none;
        }
    }
    .home {
        &::after {
            height: 75px;
        }
    }
    .aboutMe__container_imgBlock_img {
        border-width: 10px;
    }
    .techStack_container_flexRow_item {
        min-width: 120px;
        img {
            width: 100px;
            height: 100px;
        }
    }
}
@media (max-width: 374.8px){
    .header_nav_logo {
        font-size: 20px;
    }
    .header_nav {
        min-height: 60px;
    }
    .home_container_textBlock_title {
        font-size: 26px;
    }
    .home_container_textBlock_subTitle {
        font-size: 18px;
    }
    ._section_title {
        margin-bottom: 15px;
    }
}
