// ?                      
// !imports               
// *                      

@import "_blank.scss";
@import "_commonElements.scss";

// ?                      
// !header               
// *                      

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    &::after {
        content: "";
        top: 0;
        left: 0;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 101;
    }
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.header_nav_logo {
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    cursor:default;
    z-index: 102;
}

.header_nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav_menu_link {
    list-style: none;
    &:not(:last-child) {
        margin-right: 60px;
    }
    a {
        display: inline-block;
        padding: 1px;
        font-size: 24px;
        line-height: 28px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: flex;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background: currentColor;
            transition: all .2s ease;
        }
    }
}

.header_nav_burger {
    display: none;
}
// ?                      
// !screan 1               
// *                      
.home {
     background: linear-gradient(180deg, #FF9090 0%, #9094FF 100%);
     position: relative;
     &::after {
        position: absolute;
        content: "";
        display: flex;
        bottom: 0;
        width: 100%;
        height: 150px;
        border-radius: 50%;
        background: #9094FF;
        transform: translateY(50%);
        z-index: -1
     }
    .home_circle {
        &:nth-child(2) {
            top: -81px;
            right: -178px;
        }
        &:nth-child(3) {
            top: 524px;
            left: -45px;
        }
    }
    
}

.home_container {
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.home_container_imgBlock {
    position: relative;
}

.home_container_imgBlock_img {
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 4;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.home_container_imgBlock_circle {
    &:nth-child(2) {
        top: 80px;
        left: 170px;
        // right: -120px;
        z-index: 3;
    }
    &:nth-child(3) {
        z-index: 4;
        top: -90px;
        left: 60px;
    }
}

._circle-Xl {}

._circle-m {}

.home_container_textBlock {
    position: relative;
    z-index: 3;
    justify-self: center
}

.home_container_textBlock_title {
    position: relative;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #FFFFFF;
    &::after {
        position: absolute;
        content: "";
        display: flex;
        max-width: 550px;
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 18px;
        border-radius: 5px;
        background: #fff;
    }
}

.home_container_textBlock_subTitle {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 3px;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.home_container_textBlock_btn {}

.radialTextBtn {
    background: #fff;
    span {
        color: transparent;
        background-clip: text;
        background-image: radial-gradient(180deg,
            #FF9090 0%,
            #9094FF 100%);
        background-size: cover;       
        background: linear-gradient(180deg, #9094FF 0%, #FF9090 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: .2s ease;
    }
    &:hover{
        span {
            opacity: 0.5;
        }
    } 
}
// ?                      
// !about me               
// *                      
.aboutMe {
   
} 
.aboutMe__container {
    padding-top: 10px;
    padding-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-gap: 20px;
    position: relative;
        &::after {
            content: "";
            position: absolute;
            display: flex;
            width: calc(100% - 30px);
            height: 5px;
            left: 50%;
            transform: translate(-50%);
            bottom: 0;
            background: linear-gradient(-90deg, #9094FF 0%, #FF9090 100%);
            border-radius: 5px;
        }
}

.aboutMe__container_text {
    position: relative;
    z-index: 4;
    align-self: center;
    justify-self: center;
}

.aboutMe__container_text_title {
    margin-top: 25px;
}
.aboutMe__container_imgBlock {
    align-self: center;
    justify-self: center;
    position: relative;
    .aboutMe__container_imgBlock_img_circle {
        top: -90px;
        right: -90px;
        z-index: 10;
    }
}
.aboutMe__container_imgBlock_img {
    max-width: 300px;
    width: 100%;
    // height: 300px;
    border-radius: 75px;
    background: url(01.jpg);
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #9094FF;
    border-radius: 74px;
    img {
        position: absolute;
        vertical-align: middle;
        border-radius: 64px;
        width: 101%;
        height: 101%;
        object-fit: cover;
        position: relative;
        left: -1%;
    }
}




// ?                      
// !stack               
// *                      

.techStack_container {
    padding-top: 48px;
}
.techStack_container_description {
    max-width: none;
    text-align: center;
    margin-bottom: 80px;
}


.techStack_container_flexRow {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
}

.techStack_container_flexRow_item {
    width: 20%;
    min-width: 170px;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}


// ?                      
// !contacts               
// *                      

.contacts {
    margin-top: calc(10vw + 20px);
    background: linear-gradient(0, #FF9090 0%, #9094FF 100%);
    border-top-right-radius: 10vw;
    position: relative;
    padding: 15px 15px 0px 15px;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(100% - 1px);
        border-bottom: 10vw solid #9094FF;
        border-right: 90vw solid transparent;
        border-left: 0 solid transparent;
    }
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 38px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    padding: 0 10px;
    margin-bottom: 105px;
    input {
        outline: none;
        border: none;
        max-width: 530px;
        width: 100%;
        padding: 10px;
        &:not(:first-child) {
            margin-top: 33px;
        }
        &:nth-child(2) {
            margin-top: 23px;
        }
        &:focus {
            border-left: 3px solid #FF9090;
            border-right: 3px solid #9094FF;
        }
    }
}

.contacts_title {
    margin-top: 45px;
    margin-bottom: 0;
}

._section_title {}

.contacts_input_email {}

.contacts_input_line {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    height: 3px;
    background: linear-gradient(90deg,
        #FF9090 0%,
        #9094FF 100%);
    top: -1px;
    border-radius: 3px;
}

.contacts_input_name {}

.contacts_input_massage {}

.contacts_btn {
    margin: 45px 0;
    border: none;
    background: #FF9090;
    color: #fff;
    transition: .2s ease;
    &:hover {
        background: #fcb0b0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 170px;
    position: relative;
    &:after {
        content: "";
        display: flex;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1200px;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background: #FFFFFF;
    }
}

._container {}

.footer_tel {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    &:hover {
        text-decoration: underline;
    }
}

.footer_icons {
    // margin-left: auto;
    display: flex;
    a:not(:last-child) {
        margin-right: 32px;
    }
    img {
        width: 32px; 
    }
}

.footer_email {
    // margin-left: auto;
    color: #FFFFFF;
    line-height: 28px;
    &:hover {
        text-decoration: underline;
    }
}
// ?                      
// !media               
// *                      
@import "_media.scss";